<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<h1>This is home page</h1>
	<h3>Welcome, <%= name %> </h3>
	Your ID is: <%= id %>
	<br>

	<a href="/logout">logout</a>
</body>
</html>