<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="/xyz/css/style.css">
	<script type="text/javascript" src="/xyz/js/jquery-3.5.1.js"></script>
</head>
<body>
	<h1>This is home page</h1>

	<a href="/user/create">Create New User</a> |
	<a href="/home/userlist">User list</a> |
	<a href="/logout">logout</a>

	<form>
		<input type="text" name="searchkey">
		<input type="button" name="search" value="Search">
	</form>

	<script type="text/javascript">
		
		$(document).ready(function(){
			
			$('input[type=button]').click(function(){

				var key = $('input[type=text]').val();
				$.ajax({
					url: '/user/search/'+key,
					type: 'GET',
					data: abc,
					success: function(response){
						alert(response);
					},
					error: function(error){

					}
				});

			});			
		});

	</script>

</body>
</html>