<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<h1>This is home page</h1>

	<a href="/user/create">Create New User</a> |
	<a href="/home/userlist">User list</a> |
	<a href="/logout">logout</a>

</body>
</html>